{% extends "home.html" %}


{% block xy %}


<div ><table class="table">
	#{{y}}

	
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Fullname</th>
		<th scope="col">email</th>
		<th scope="col">message</th>
		<th scope="col">Action </th>
	  </tr>
	</thead>
	<tbody>

		{% for x  in  my_data%} 
	  <tr>
		<th scope="row">{{x.id}}</th>
		<td>{{x.fullname}}</td>
		<td>{{x.email}}</td>
		<td>{{x.message}}</td>
		<td>
			<div>
				<a href="delte-record/{{x.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
				<a href="update-record/{{u.id}}"><button type="button" class="btn btn-success">Update</button></a>
			</div>
		</td>

	  </tr>
	  {% endfor %}
	  
	</tbody>
  </table>
</div>
{% endblock xy %}